<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Responda</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="ajuda($event)">
				<ion-icon name="help"></ion-icon>
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="block-center" style="height: 100%; background-color: #fff8dc;">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list radio-group [(ngModel)]="merendaCardapio">
            <ion-list-header text-wrap color="primary">
              A MERENDA de hoje está igual ao CARDÁPIO do dia?
            </ion-list-header>

            <ion-item>
              <ion-label>Está IGUAL</ion-label>
              <ion-radio value="1"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>Está DIFERENTE</ion-label>
              <ion-radio value="0"></ion-radio>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-left style="color: #ffffff;" (click)="avancar(0)">
				Cancelar
			</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-right style="color: #ffffff;" (click)="avancar(1)">
				Avançar
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>