<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Enviar foto da Merenda</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="ajuda($event)">
				<ion-icon name="help"></ion-icon>
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="block-center" style="height: 100%; background-color: #fff8dc;">

    <ion-grid>
      <ion-row>
        <ion-col (click)="presentActionSheet()">
          <img *ngIf="!imagemMerenda" src="assets/img/camera-placeholder.png" />
          <img *ngIf="imagemMerenda" src="{{ imagemMerenda }}" />
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button color="light" block (click)="presentActionSheet()">Foto da Merenda</button>
      </ion-row>

      <ion-row>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-left style="color: #ffffff;" (click)="avancar(0)">
				Cancelar
			</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-right style="color: #ffffff;" (click)="avancar(1)">
				Avançar
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>