<ion-header>
    <ion-navbar color="primary">
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-color: #fff8dc;">
    <!--<div class="logo">
        <img src="http://www.lorempixel.com/300/300" alt="Logo Merenda Chef">
    </div>-->

    <form #loginForm="ngForm" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Email</ion-label>
                <ion-input pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    [(ngModel)]="login.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                </ion-input>
            </ion-item>
            <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
                Email obrigatório
            </p>

            <ion-item>
                <ion-label stacked color="primary">Senha</ion-label>
                <ion-input [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
            <p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
                Digite a senha
            </p>
        </ion-list>

        <button ion-button (click)="onLogin(loginForm)" type="submit" block>Login</button>

        <button ion-button (click)="onSignup()" color="light" block>Cadastre-se</button>

        <button ion-button (click)="resetPassword()" color="dark" block clear>Esqueci a senha</button>

    </form>
</ion-content>