<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Enviar
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<!--<ion-card>-->
	<ion-grid>
		<ion-row>
			<ion-col (click)="presentActionSheet(0)">
				<!--<ion-card>-->
				<img *ngIf="!imagemPrato" src="assets/img/camera-placeholder.png" />
				<img *ngIf="imagemPrato" src="{{ pathForImage(imagemPrato) }}" />
				<!--</ion-card>-->
			</ion-col>
			<ion-col (click)="presentActionSheet(1)">
				<!--<ion-card>-->
				<img *ngIf="!imagemCardapio" src="assets/img/camera-placeholder.png" />
				<img *ngIf="imagemCardapio" src="{{ pathForImage(imagemCardapio) }}" />
				<!--</ion-card>-->
			</ion-col>
		</ion-row>
		<ion-row>

		</ion-row>
	</ion-grid>
	<!--</ion-card>-->

	<ion-card>
		<ion-item color="dark">
			<ion-label style="color: #fff;">Selecione: </ion-label>
			<ion-select [(ngModel)]="conferirItens">
				<ion-option value="0">Merenda igual ao Cardápio</ion-option>
				<ion-option value="1">Merenda diferente do Cardápio</ion-option>
				<ion-option value="2">Hoje faltou merenda</ion-option>
			</ion-select>
		</ion-item>
	</ion-card>


	<ion-grid>
		<ion-row *ngIf="imagemPrato && imagemCardapio && conferirItens">
			<button block ion-button color="light" (click)="enviarPost()">Enviar as fotos</button>
		</ion-row>

		<ion-row>
			<button block ion-button color="secondary" (click)="cancelar()">Cancelar</button>
		</ion-row>

		<ion-row>
			<button [attr.disabled]="imagemPrato || imagemCardapio" block ion-button color="danger" (click)="informarFaltaDeCardapio()">Falta cardápio</button>
		</ion-row>
	</ion-grid>


	<!--<button block ion-button icon-left (click)="presentActionSheet(0)">
			<ion-icon ios="ios-camera" md="md-camera"></ion-icon>
			Enviar Foto do Prato do dia
		</button>

	<button block ion-button color="secondary" icon-left (click)="presentActionSheet(1)">
			<ion-icon name="card"></ion-icon>
			Enviar Foto do Cardápio do dia
		</button>

	<button [attr.disabled]="imagemPrato || imagemCardapio" block ion-button color="danger" icon-left (click)="informarFaltaDeCardapio()">
			<ion-icon name="calendar"></ion-icon>
			Informar ausência do cardápio
		</button>-->


	<!--<ion-fab right bottom>
		<button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
		<ion-fab-list side="left">
			<button ion-fab><ion-icon name="camera"></ion-icon></button>
			<button ion-fab><ion-icon name="card"></ion-icon></button>
			<button ion-fab><ion-icon name="calendar"></ion-icon></button>
		</ion-fab-list>
	</ion-fab>-->


</ion-content>