<ion-header>

	<ion-navbar color="primary">
		<ion-title>Cadastro</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="center-content" style="width: 100%; height: 100%; display: flex; background-color: #fff8dc;">
		<div style="align-self: center; width: 100%; padding: 10%; background-color: #f7eec9;">
			<ion-row>
				<ion-col>
					<ion-list>
						<form [formGroup]="registerForm">
							<ion-item>
								<ion-input type="text" formControlName="name" placeholder="Nome"></ion-input>
							</ion-item>

							<ion-item>
								<ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
							</ion-item>

							<ion-item>
								<ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
							</ion-item>
						</form>
					</ion-list>
				</ion-col>
			</ion-row>

			<ion-row>
				<button ion-button full (click)="doRegister()">Cadastrar</button>
				<button ion-button color="secondary" full (click)="voltarLogin()">Fazer login</button>

				<ion-list *ngIf="errors">
					<ion-item>
						<ion-icon name="ios-alert" item-left></ion-icon>
						Preencha o formulário corretamente
					</ion-item>
				</ion-list>
			</ion-row>

		</div>
	</div>
</ion-content>
Ï