<ion-header>

	<ion-navbar color="primary">
		<ion-title>Finalizar cadastro</ion-title>
	</ion-navbar>

</ion-header>

<ion-content style="background-color: #fff8dc;">
	<!--<div class="logo">
        <img src="http://www.lorempixel.com/300/300" alt="Logo Merenda Chef">
    </div>-->

	<form #registerForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Seu nome</ion-label>
				<ion-input [(ngModel)]="register.nome" name="nome" type="text" #nome="ngModel" spellcheck="false" autocapitalize="off" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="nome.valid || submitted == false" color="danger" padding-left>
				Nome é obrigatório
			</p>

			<ion-item>
				<ion-label stacked color="primary">Email</ion-label>
				<ion-input pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
				 [(ngModel)]="register.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
				Email é obrigatório
			</p>

			<ion-item>
				<ion-label stacked color="primary">Senha</ion-label>
				<ion-input [(ngModel)]="register.password" name="password" type="password" #password="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="password.valid || submitted == false" color="danger" padding-left>
				Senha é obrigatória
			</p>

			<ion-item>
				<ion-label stacked color="primary">Repita a senha</ion-label>
				<ion-input [(ngModel)]="register.repeat_password" name="repeat_password" type="password" #repeatPassword="ngModel" required>
				</ion-input>
			</ion-item>
			<p ion-text [hidden]="repeatPassword.valid || submitted == false" color="danger" padding-left>
				Repita a senha
			</p>
			<p ion-text [hidden]="repeatPassword.value == password.value || submitted == false" color="danger" padding-left>
				As senhas devem ser iguais
			</p>
		</ion-list>

		<ion-row responsive-sm>
			<ion-col>
				<button ion-button (click)="doRegister(registerForm)" type="submit" block>Cadastrar</button>
			</ion-col>
			<ion-col>
				<button ion-button (click)="voltarLogin()" color="light" block>Fazer login</button>
			</ion-col>
		</ion-row>
	</form>
</ion-content>

<!--<ion-content>
	<div style="height: 100%; background-color: #fff8dc;">
		<ion-grid>
			<ion-row>
				<ion-col>
					<ion-list>
						<form [formGroup]="registerForm">
							<ion-item>
								<ion-input type="text" formControlName="name" placeholder="Nome"></ion-input>
							</ion-item>

							<ion-item>
								<ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
							</ion-item>

							<ion-item>
								<ion-input type="password" formControlName="password" placeholder="Senha"></ion-input>
							</ion-item>
						</form>
					</ion-list>

					<ion-row>
						<button ion-button full (click)="doRegister()">Cadastrar</button>
						<button ion-button color="secondary" full (click)="voltarLogin()">Fazer login</button>

						<ion-list *ngIf="errors">
							<ion-item>
								<ion-icon name="ios-alert" item-left></ion-icon>
								Preencha o formulário corretamente
							</ion-item>
						</ion-list>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</ion-content>-->