<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Timeline" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Enviar" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="ios-person"></ion-tab>
</ion-tabs>
