<ion-header>
	<ion-navbar color="primary">
		<ion-title>
			Perfil
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<div style="width: 100%; height: 200px; background-color: #008b8b; display: flex;">
		<div style="width: 100px; height: 100px; align-self: center; background-image: url('assets/img/merendachef_relogio_100_100.png'); background-color: #fff; border-radius: 50%; margin: 0 auto;"></div>
	</div>

	<ion-list>
		<ion-item (click)="verEscola()">
			<ion-icon name="school" item-left></ion-icon>
			A Escola
			<ion-icon name="arrow-forward" item-right></ion-icon>
		</ion-item>

		<ion-item (click)="verPontos()">
			<ion-icon name="trophy" item-left></ion-icon>
			Seus pontos
			<ion-icon name="arrow-forward" item-right></ion-icon>
		</ion-item>

		<ion-item (click)="alterarSenha()">
			<ion-icon name="key" item-left></ion-icon>
			Alterar senha
			<ion-icon name="arrow-forward" item-right></ion-icon>
		</ion-item>

		<ion-item (click)="logout()">
			<ion-icon name="log-out" item-left></ion-icon>
			Sair
			<ion-icon name="arrow-forward" item-right></ion-icon>
		</ion-item>
	</ion-list>

</ion-content>