<ion-header>
    <ion-navbar color="primary">
        <ion-title>Detalhar</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="feed">
        <ion-item-group>
            <div>
                <ion-item-divider style="color: #404040; background-color: #fff; margin: 5px 0;">
                    <ion-icon name="calendar" item-left color="primary"></ion-icon>
                    {{ feed.dia }}
                </ion-item-divider>
                <div>
                    <ion-row>
                        <ion-col>
                            <img [hidden]='!feed.pos_merenda' src="{{ serverUrl + feed.pos_merenda }}" />
                            <img [hidden]='feed.pos_merenda' src="assets/img/camera-placeholder.png" />
                        </ion-col>
                        <ion-col>
                            <img [hidden]='!feed.pos_cardapio' src="{{ serverUrl + feed.pos_cardapio }}" />
                            <img [hidden]='feed.pos_cardapio' src="assets/img/camera-placeholder.png" />
                        </ion-col>
                    </ion-row>
                </div>
                <ion-item-divider style="color: #404040; background-color: #fff; margin: 5px 0;">
                    <ion-icon item-left [name]="changeIcon(feed.pos_conferir)" [color]="changeColor(feed.pos_conferir)"></ion-icon>
                    {{ changeText(feed.pos_conferir) }}
                </ion-item-divider>
            </div>
        </ion-item-group>
    </div>

    <ion-card>
        <button full [disabled]='!isOnline' ion-button color="light" (click)="showConfirm(feed)">
            Esta informação está errada!
        </button>
    </ion-card>


</ion-content>