<ion-header>

  <ion-navbar color="primary">
    <ion-title>Escola</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div #map id="map" style="width: 100%; height:100%;"></div>

</ion-content>
