<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons start>
			<button ion-button icon-only (click)="getFeed(user)">
				<ion-icon name="refresh"></ion-icon>
			</button>
		</ion-buttons>

		<ion-title>Merenda Chef</ion-title>

		<ion-buttons end>
			<button ion-button icon-only (click)="openStart()">
				<ion-icon name="calendar"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Atualizar" refreshingSpinner="circles" refreshingText="Atualizando...">
		</ion-refresher-content>
	</ion-refresher>

	<ion-datetime #dateTime style="display:none" (ionChange)="getDateValue(startTime)" displayFormat="YYYY-MM-DD" pickerFormat="DD MMMM YYYY"
	 [(ngModel)]="startTime"></ion-datetime>

	<div class="center-content">
		<ion-list *ngIf="noFeeds">
			<ion-item>Ainda não há postagens da sua escola.</ion-item>
		</ion-list>

		<div>
			<ion-card *ngFor="let feed of feeds" (click)="detalharDia(feed)">
				<ion-item-divider style="color: #404040; background-color: #fff8dc; margin: 5px 0;">
					<ion-icon name="calendar" item-left color="primary"></ion-icon>
					{{ feed.key }}
					<ion-icon name="arrow-dropright" item-right color="primary"></ion-icon>
				</ion-item-divider>
				<ion-row>
					<ion-col class="col-icones">
						<span>
							<ion-icon name="happy" color="secondary" item-left></ion-icon> {{ feed.relatorio.igual }}
						</span>
					</ion-col>
					<ion-col class="col-icones">
						<span>
							<ion-icon name="sad" color="primary" item-left></ion-icon> {{ feed.relatorio.diferente }}
						</span>
					</ion-col>
					<ion-col class="col-icones">
						<span>
							<ion-icon name="alert" color="danger" item-left></ion-icon> {{ feed.relatorio.faltou }}
						</span>
					</ion-col>
					<ion-col class="col-icones">
						<span>
							<ion-icon name="alert" color="dark" item-left></ion-icon> {{ feed.relatorio.semCardapio }}
						</span>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>
	</div>

	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>