<ion-header>
	<ion-navbar color="primary">
		<ion-title>Merenda Chef</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content 
		pullingIcon="arrow-dropdown" 
		pullingText="Atualizar" 
		refreshingSpinner="circles" 
		refreshingText="Atualizando...">
		</ion-refresher-content>
	</ion-refresher>

	<div class="center-content">
		<ion-list *ngIf="noFeeds">
			<ion-item>Ainda não há postagens da sua escola.</ion-item>
		</ion-list>


		<ion-item-group>
			<div *ngFor="let feed of feeds">
				<ion-item-divider style="color: #404040; background-color: #fff8dc; margin: 5px 0;">
					<ion-icon name="calendar" item-left color="primary"></ion-icon>
					{{ feed.key }}
					<ion-icon name="arrow-dropdown" item-right color="primary"></ion-icon>
				</ion-item-divider>
				<ion-item *ngFor="let fee of feed.data" (click)="detalharFeed(fee)">
					<ion-icon [name]="changeIcon(fee.pos_conferir)" [color]="changeColor(fee.pos_conferir)" item-left></ion-icon>
					{{ changeText(fee.pos_conferir) }}
					<ion-icon name="arrow-forward" item-right></ion-icon>
				</ion-item>
			</div>
		</ion-item-group>


		<!--<div *ngIf="!noFeeds">
			<ion-item-group>
				<div *ngFor="let feed of feeds">
					<ion-item-divider style="color: #404040; background-color: #fff; margin: 5px 0;">
						<ion-icon name="calendar" item-left color="primary"></ion-icon>
						{{ feed.key }}
						<ion-icon name="arrow-dropdown" item-right color="primary"></ion-icon>
					</ion-item-divider>
					<div *ngFor="let fee of feed.data">
						<ion-item [color]="changeColor(fee.pos_conferir)">
							{{ changeText(fee.pos_conferir) }}
							<ion-icon name="more" item-right (click)="showConfirm(fee)"></ion-icon>
						</ion-item>

						<ion-row>
							<ion-col>
								<img src="{{ serverUrl + fee.pos_merenda }}" />
							</ion-col>
							<ion-col>
								<img src="{{ serverUrl + fee.pos_cardapio }}" />
							</ion-col>
						</ion-row>
					</div>
				</div>
			</ion-item-group>
		</div>-->


	</div>
</ion-content>