page-inicio {

}

.content-md {
    background-color: #fff8dc;
}

.block-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
