<ion-header>
	<ion-toolbar color="primary">

		<ion-title>Merenda Chef</ion-title>

		<!--<ion-buttons end>
			<button ion-button icon-only (click)="presentPopoverSettings($event)">
				<ion-icon ios="ios-cog" md="md-cog"></ion-icon>
			</button>
		</ion-buttons>-->
	</ion-toolbar>
</ion-header>

<ion-content>
	<div style="width: 100%; display: flex; background-color: #8fbc8f; justify-content: center;">
		<span style="font-size: 1.2em; color: #ffffff; padding: 10px;">Seus pontos: {{ pontos }}</span>
	</div>
	
	<div class="block-center" style="height: 100%; background-color: #fff8dc;">
		<!--<img style="margin-bottom: 1.5em;" width="20%" src="assets/img/relogio.png" alt="">-->
		<button ion-button large icon-only style="margin-bottom: 1.1em;">
			<ion-icon ios="ios-time" md="md-time"></ion-icon>
		</button>
		<h3 style="margin: 0 auto; color: #008b8b">Seja bem bindo(a)<br> ao Merenda Chef!</h3>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar color="primary">
		<ion-buttons start>
			<button ion-button icon-right style="color: #ffffff;" (click)="logout()">
				Sair
				<ion-icon ios="ios-exit" md="md-exit"></ion-icon>
			</button>
		</ion-buttons>

		<ion-buttons end>
			<button ion-button icon-right style="color: #ffffff;" (click)="comecar()">
				Vamos começar
				<ion-icon ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>