<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Merenda Chef</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="ajuda($event)">
				<ion-icon name="help"></ion-icon>
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="block-center" style="height: 100%; background-color: #fff8dc;">
    <button ion-button large icon-only style="margin-bottom: 1.1em;">
			<ion-icon ios="ios-timer" md="md-timer"></ion-icon>
		</button>
    <h3 style="margin: 0 auto; color: #008b8b">Tem merenda HOJE<br>nesta escola?</h3>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-left style="color: #ffffff;" (click)="merenda(1)">
				Tem Merenda
			</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-right style="color: #ffffff;" (click)="merenda(0)">
				Não tem Merenda
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>