<ion-content padding>

  <div *ngIf="option == 0">
    <h4>Iniciando</h4>

    <p>
      Tente identificar o cardápio do dia que deve, obrigatoriamente, estar exposto em algum local de fácil visualização na sua
      escola. Se não encontrar clique abaixo em "Não encontrei" e siga para a próxima tela. Se encontrou o cardápio clique
      em "Sim, encontrei".
    </p>
  </div>

  <div *ngIf="option == 1">
    <!-- Se tem cardápio -->
    <h4>Cardápio</h4>

    <p>
      Agora toque na imagem da câmera e tire uma bela foto do cardápio que está exposto na escola. Em seguida clique em AVANÇAR.
      Se clicar em CANCELAR a postagem será cancelada e você pode retornar à tela inicial.
    </p>
  </div>

  <div *ngIf="option == 2">
    <!-- Se não tem cardápio -->
    <h4>Merenda</h4>

    <p>
      Tem merenda hoje na sua escola? Se tem clique em "Tem merenda". Caso não tenha clique em "Não tem merenda".
    </p>
  </div>

  <div *ngIf="option == 3">
    <!-- Se tem merenda -->
    <h4>Merenda</h4>

    <p>
      Agora toque na imagem da câmera e tire uma bela foto do prato com a merenda servida hoje na sua escola. Em seguida clique
      em AVANÇAR. Se clicar em CANCELAR a postagem será cancelada e você pode retornar à tela inicial.
    </p>
  </div>

  <div *ngIf="option == 4">
    <!-- Se não tem merenda -->
    <h4>Finalizar</h4>

    <p>
      Pronto! Agora só falta clicar em ENVIAR e sua postagem do dia será registrada. Você pode acompanhar sua pontuação na tela
      inicial do Merenda Chef.
    </p>
  </div>

  <div *ngIf="option == 5">
    <!-- Merenda igual ao cardápio? -->
    <h4>Importante</h4>

    <p>
      Por favor, informe se a merenda do dia está de acordo com o cardápio exposto na sua escola.
    </p>
  </div>

  <div *ngIf="option == 6">
    <!-- Sabor da merenda do dia -->
    <h4>E o sabor?</h4>

    <p>
      Por favor, avalie o sabor da merenda do dia na sua escola selecionando uma das opções abaixo.
    </p>
  </div>

</ion-content>