<ion-header>
  <ion-toolbar color="primary">

    <ion-title>Merenda Chef</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="ajuda($event)">
				<ion-icon name="help"></ion-icon>
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="block-center" style="height: 100%; background-color: #fff8dc;">
    <!--<img style="margin-bottom: 1.5em;" width="20%" src="assets/img/relogio.png" alt="">-->

    <button ion-button large icon-only style="margin-bottom: 1.1em;">
      <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon>
    </button>
    <h3 style="margin: 0 auto; color: #008b8b">Você consegue encontrar<br> o CARDÁPIO da merenda<br> nesta escola?</h3>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-left style="color: #ffffff;" (click)="cardapio(1)">
				Sim, encontrei
			</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-right style="color: #ffffff;" (click)="cardapio(0)">
				Não encontrei
			</button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>