<ion-header>

  <ion-navbar color="primary">
    <ion-title>Alterar Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="height: 100%; background-color: #fff8dc;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <form [formGroup]="passwordForm">
              <ion-item>
                <ion-input type="password" formControlName="old_password" placeholder="Senha antiga"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" formControlName="new_password" placeholder="Digite a nova senha"></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" formControlName="repeat_password" placeholder="Repita a nova senha"></ion-input>
              </ion-item>
            </form>
          </ion-list>

          <ion-row>
            <button ion-button full (click)="alterarSenha()">Alterar Senha</button>
            <button ion-button color="secondary" full (click)="cancelar()">Cancelar</button>

            <ion-list *ngIf="errors" style="width: 100%;">
              <ion-item>
                <ion-icon name="ios-alert" item-left></ion-icon>
                Atenção! Observe os campos com erro!
              </ion-item>
            </ion-list>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
