<ion-header>

    <ion-navbar color="primary">
        <ion-title>Pontos</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item-group>
        <ion-item-divider color="secondary">Sua pontuacão até o momento é:</ion-item-divider>
    </ion-item-group>

    <div style="width: 100%; height: 200px; background-color: #008b8b; display: flex;">
        <div style="align-self: center; justify-content: center; display: flex; width: 150px; height: 150px; background-color: #5f9ea0; border-radius: 50%; border: 3px solid #fff; margin: 0 auto;">
            <span style="font-size: 1.5em; color: #fff; align-self: center;">
                {{ perfil.total_pontos }}
            </span>
        </div>
    </div>

    <ion-item-group>
        <ion-item-divider color="secondary">Seus dados</ion-item-divider>
        <ion-item>Nome: {{ perfil.name }}</ion-item>
        <ion-item>Email: {{ perfil.email }}</ion-item>
        <ion-item>Cadastrado como: {{ perfil.tipo }}</ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider color="secondary">Dados da escola</ion-item-divider>
        <ion-item>Escola: {{ escola.esc_nome }}</ion-item>
        <ion-item>Cidade: {{ cidade.cid_nome }}</ion-item>
    </ion-item-group>

</ion-content>

<!--

-->