<ion-header>
    <ion-toolbar color="primary">

        <ion-title>Criar nova senha</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
				<ion-icon name="close-circle"></ion-icon>
			</button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content style="background-color: #fff8dc;">
    <!--<div class="logo">
        <img src="http://www.lorempixel.com/300/300" alt="Logo Merenda Chef">
    </div>-->

    <form #resetForm="ngForm" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Email</ion-label>
                <ion-input pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    [(ngModel)]="reset.email" name="email" type="text" #email="ngModel" spellcheck="false" autocapitalize="off"
                    required>
                </ion-input>
            </ion-item>
            <p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
                Digite um email válido
            </p>
        </ion-list>

        <ion-row responsive-sm>
            <ion-col>
                <button ion-button (click)="doReset(resetForm)" type="submit" block>Enviar</button>
            </ion-col>
            <ion-col>
                <button ion-button color="light" (click)="dismiss()" block>Cancelar</button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>

<!--<ion-content>

    <div style="height: 100%; background-color: #fff8dc;">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <form [formGroup]="resetForm">
                            <ion-item>
                                <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
                            </ion-item>
                        </form>
                    </ion-list>

                    <ion-row>
                        <button ion-button full (click)="doReset()">Enviar</button>
                        <button ion-button color="secondary" full (click)="dismiss()">Cancelar</button>

                        <ion-list *ngIf="errors" style="width: 100%;">
                            <ion-item>
                                <ion-icon name="ios-alert" item-left></ion-icon>
                                Digite um email válido
                            </ion-item>
                        </ion-list>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>-->