<ion-header>

    <ion-navbar color="primary">
        <ion-title>Cadastrar</ion-title>
    </ion-navbar>

</ion-header>


<ion-content style="background-color: #fff8dc;">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item-group>
                    <div>
                        <ion-item-divider color="light">Selecione o estado: </ion-item-divider>
                        <ion-item>
                            <ion-label>Selecione</ion-label>
                            <ion-select [(ngModel)]="estado" (ionChange)="selectCidade($event, estado)">
                                <ion-option *ngFor="let e of estados" value="{{ e.est_id }}">{{ e.est_nome }}</ion-option>
                            </ion-select>
                        </ion-item>
                    </div>

                    <div *ngIf="estado">
                        <ion-item-divider color="light">Selecione a cidade:</ion-item-divider>
                        <ion-item>
                            <ion-label>Selecione</ion-label>
                            <ion-select [(ngModel)]="cidade" (ionChange)="selectEscola($event, cidade)">
                                <ion-option *ngFor="let c of cidades" value="{{ c.cid_id }}">{{ c.cid_nome }}</ion-option>
                            </ion-select>
                        </ion-item>
                    </div>

                    <div *ngIf="cidade">
                        <ion-item-divider color="light">Selecione a escola: </ion-item-divider>
                        <ion-item>
                            <ion-label>Selecione</ion-label>
                            <ion-select [(ngModel)]="escola">
                                <ion-option class="item-text-wrap" *ngFor="let e of escolas" value="{{ e.escola.esc_id }}">{{ e.escola.esc_nome }}</ion-option>
                            </ion-select>
                        </ion-item>
                    </div>
                </ion-item-group>

                <ion-row responsive-sm *ngIf="estado && cidade && escola">
                    <ion-col>
                        <button ion-button icon-right (click)="goRegisterForm(escola)" block>Continuar
                            <ion-icon name="arrow-dropright"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>