<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ feed.key }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="center-content">
    <ion-list *ngIf="noFeeds">
      <ion-item>Não houve postagens neste dia.</ion-item>
    </ion-list>

    <ion-list>
        <ion-item *ngFor="let fee of feed.data" (click)="detalharFeed(fee)">
          <ion-icon [name]="changeIcon(fee.pos_conferir)" [color]="changeColor(fee.pos_conferir)" item-left></ion-icon>
          {{ changeText(fee.pos_conferir) }}
          <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
    </ion-list>

  </div>
</ion-content>