<ion-list>
  <ion-list-header>Selecione</ion-list-header>
  <button ion-item (click)="push(0)">Perfil</button>
  <button ion-item (click)="push(1)">A Escola</button>
  <button ion-item (click)="push(2)">Alterar senha</button>
  <!--<button ion-item (click)="push(3)">Sair</button>-->
</ion-list>
